
        @font-face {
        font-family: 'Varela Round';  /* Common font family for all weights */
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url('../fonts/varela round-300.woff2') format('woff2'), 
            url('../fonts/varela round-300.ttf') format('truetype');
        }
        
        @font-face {
        font-family: 'Varela Round';  /* Common font family for all weights */
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('../fonts/varela round-400.woff2') format('woff2'), 
            url('../fonts/varela round-400.ttf') format('truetype');
        }
        
        @font-face {
        font-family: 'Varela Round';  /* Common font family for all weights */
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('../fonts/varela round-500.woff2') format('woff2'), 
            url('../fonts/varela round-500.ttf') format('truetype');
        }
        
        @font-face {
        font-family: 'Varela Round';  /* Common font family for all weights */
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('../fonts/varela round-600.woff2') format('woff2'), 
            url('../fonts/varela round-600.ttf') format('truetype');
        }
        
        @font-face {
        font-family: 'Varela Round';  /* Common font family for all weights */
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('../fonts/varela round-700.woff2') format('woff2'), 
            url('../fonts/varela round-700.ttf') format('truetype');
        }
        
        body {
            font-family: 'Varela Round', sans-serif;  /* Apply downloaded font to body */
        }
        